@font-face {
  font-family: "iconfont"; /* Project id 4453032 */
  src: url('iconfont.woff2?t=1718102688163') format('woff2'),
       url('iconfont.woff?t=1718102688163') format('woff'),
       url('iconfont.ttf?t=1718102688163') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu1:before {
  content: "\e64a";
}

.icon-anquan:before {
  content: "\ec4d";
}

.icon-box2xiangzi:before {
  content: "\e731";
}

.icon-progress_shipping:before {
  content: "\e60f";
}

.icon-dianzantubiao:before {
  content: "\e645";
}

.icon-xinlangweibo:before {
  content: "\e603";
}

.icon-weixintubiao:before {
  content: "\e604";
}

.icon-kefu-01:before {
  content: "\e770";
}

.icon-wentifankui:before {
  content: "\e63a";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-aixin:before {
  content: "\e622";
}

.icon-xiaoxikuang:before {
  content: "\e62c";
}

.icon-shouji:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e602";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-shouye:before {
  content: "\e600";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-shanchu:before {
  content: "\e6fa";
}

.icon-yuechi:before {
  content: "\eae6";
}

.icon-wde:before {
  content: "\e673";
}

.icon-yonghu:before {
  content: "\e701";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

.icon-shezhi1:before {
  content: "\e8b7";
}

.icon--_fangzi:before {
  content: "\e633";
}

.icon-shangchuan:before {
  content: "\e691";
}

.icon-xiazai:before {
  content: "\e616";
}

